
body{

div{
   background-color: #5F4487;
   padding: 10px 20px 30px 40px;
   border: 2px solid black;
   margin: 20px 60px 10px 50px;
}

     h1 {
        color: #3ae2b0;
     }

     h2 {
        color: rgb(243, 210, 238);
     }

     h3 {
        color: #A3C7D6;
        text-align: center;
     }
     
     background-color: #3F3B6C;

     h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
     }

     h2 {
        font-family: monospace;
        text-align: center;
     }

     p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
     }

     img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
  }


}