
body{


      background-image: url(https://wallpapercave.com/wp/wp4020868.jpg);

      div{
          background-color: rgb(254, 250, 224, 0.9);
          padding: 10px 20px 30px 40px;
          margin: 20px 60px 10px 50px;
          border-radius: 10px;
}


      .maincontainer{
   
         background-color: rgb(169, 179, 136, 0.9);
         border-radius: 10px;

}

      nav {
         font-family: monospace;
         font-size: 15px;
      }



     h1 {
        color: #e6ff04;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }

     h2 {
        color: rgb(243, 210, 238);
        font-family: monospace;
        font-size: 1.6em;
        text-align: center;
     }

     h3 {
        color: #A3C7D6;
        text-align: center;
        font-family: monospace;
        font-size: 1.7em;
     }

     p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
        font-size: 1.2em;
     }

     img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
      border-radius: 30px;
     }

    img:hover{
         transform: scale(1.1);
         transition: all 0.5s ease-in-out;
     }

    a:hover{
         font-size: 1.5em;
     }

    h1:hover{
      transform: scale(1.2);
     }


    ol{
      font-family: monospace;
      font-size: 20px;

     }


      #Listaproyectos {
      list-style-type: decimal;

   }

      #listaredes{
      list-style: square;

   }

      .navegacion {
         text-decoration: none;
      }

      .navegacion:hover{
         border-bottom: 2px solid #ffc400;
      }


      .linksproyectos {
      text-decoration: none;
      color: coral;
      
   }


      .linksredes{
      text-decoration: none;
      color: rgb(255, 73, 209);

   }
}